---
import avantisystemsusa from "@assets/avantisystemsusa.com_.webp";
import cxl from "@assets/cxl.com_.webp";
import graduationSource from "@assets/graduationsource.com_.webp";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Portfolio">
  <scroll-component>
    <card-component image={cxl.src} title="CXL" href="/portfolio/cxl">
      <image-component src={cxl.src} alt="CXL"></image-component>
      <span class="font-size-1-5 font-weight-6 text-align-center">
        CXL
      </span>
    </card-component>
    <card-component
      image={graduationSource.src}
      title="Graduation Source"
      href="/portfolio/graduation-source"
    >
      <image-component src={graduationSource.src} alt="Graduation Source"
      ></image-component>
      <span class="font-size-1-5 font-weight-6 text-align-center">
        Graduation Source
      </span>
    </card-component>
    <card-component
      image={avantisystemsusa.src}
      title="Avanti Systems USA"
      href="/portfolio/avanti-systems-usa"
    >
      <image-component src={avantisystemsusa.src} alt="Avanti Systems USA"
      ></image-component>
      <span class="font-size-1-5 font-weight-6 text-align-center">
        Avanti Systems USA
      </span>
    </card-component>
  </scroll-component>
  <contact-component></contact-component>
</Layout>
<style>
  span {
    color: var(--color-neutral-200);
  }
</style>
<script>
  import "@components/card";
  import "@components/chip";
  import "@components/contact";
  import "@components/image";
  import "@components/scroll";
</script>
